<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel" style="height:150px">
      <div align="center">
        <img src="http://egret-angular.mhrafi.com/assets/images/face-7.jpg" style="height:50px;width:50px" class="img-circle" alt="User Image">
      </div>
      <div class="pull-center info" style="margin-top: 20px;">
        <small>Watson Joyce</small>
        <div style="height:20px; margin-top: 10px;" align="center">
          <i style="margin: 2px 10px 2px 2px" class="glyphicon glyphicon-home"></i>
          <i style="margin: 2px 10px 2px 2px" class="glyphicon glyphicon-user"></i>
          <i style="margin: 2px 10px 2px 2px" class="fa fa-dashboard"></i>
        </div>

      </div>
    </div>
    <hr>
    <!-- <span style="margin:10px 10px 10px 10px" class="text-muted icon-menu-title">Frequently Accessed</span><br>
    <div align="center"><div class="btn btn-default btn-sm" style="margin:10px 10px 10px 10px"><i class="glyphicon glyphicon-home"></i></div><div style="margin:10px 10px 10px 10px" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-user"></i></div><div style="margin:10px 10px 10px 10px" class="btn btn-default btn-sm"><i class="fa fa-dashboard"></i></div></div>
  <hr> -->
    <h6 class="header">Recent Tickets</h6>
    <div class="main-ul">
      <ul class="sidebar-menu clearfix">
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20029</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20030</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20035</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20039</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20040</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20044</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20049</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20050</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20060</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
          <div class="user-id">UCA1KOR</div>
          <div class="ticket-id">20080</div>
          <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
            <div class="user-id">UCA1KOR</div>
            <div class="ticket-id">20080</div>
            <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
            <div class="user-id">UCA1KOR</div>
            <div class="ticket-id">20080</div>
            <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
            <div class="user-id">UCA1KOR</div>
            <div class="ticket-id">20080</div>
            <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <li class="clearfix">
            <div class="user-id">UCA1KOR</div>
            <div class="ticket-id">20080</div>
            <div class="time-stamp">25-07-2018 17:37:41</div>
        </li>
        <!-- <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        
      </li>
      
      <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
        
      </li>
      <li>
        <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
          <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
          <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
          <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
        </ul>
      </li>
      <li>
        <a href="pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
      </li>
      <li>
        <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
          <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
          <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
          <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
          <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
          <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
          <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
          <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
          <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          <li>
            <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
              <li>
                <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
        </ul>
      </li>
      <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li> -->

        <!-- <li class="header">LABELS</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->

      </ul>
    </div>
  </section>
  <!-- /.sidebar -->
</aside>