.container-fluid{
    padding: 0;
    margin: 0;
}

.navbtn{
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}

.navbtn a{
    padding: 10px;
    font-weight: 700;
    /* color: black; */
}

.reg{
    border-color: #28a745;
}

.reg:hover{
    background-color: #28a745; 
}

.login{
    border-color: #ffc107;
}

.login:hover{
    background-color: #ffc107; 
} 