@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
.bg {
    height: 100%;
    padding-left: 10px;
     ::after {
        content: "";
        background: url('../../../assets/img/bg.png') right center no-repeat;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-size: 40%;
    }
    h3 {
        color: $primary;
    }
}