* {
    box-sizing: border-box;
}

.column {
    float: left;
    min-height: 320px !important;
    width: 18%;
    margin: 20px 25px 0px 25px;
    overflow: hidden;
    position: relative;
    border: 1px solid#284c79;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    color: #284c79;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Style the buttons */
.btn1 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  margin: 4px;
}

.btn1:hover {
  background-color: #ddd;
}

.btn1.active {
  background-color: #666;
  color: white;
}

.content {
    background-color: white;
    padding: 10px;
}

.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
  }
  
  .card .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0,0,30,0.8);
  }

.comment-media {
    width: 250px;
    object-fit: fill;
    margin-top: 15px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;   
    z-index: 100;
}
.menu {
    display:inline-block;
    list-style-type: none;
}