<!-- main app container -->
<div class="container">
    <div class="row">
        <div class="col-md-12">                
            <form  class="form-horizontal" >
                <div class="col-md-6 offset-md-3">
                    <h3>Basic Info</h3>
                    <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="name">Name:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" name="name" [(ngModel)]="selectedImage.firstName" class="form-control" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="level">Level:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="level" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="qualify">Qualification:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="qualification" [(ngModel)]="selectedImage.designation" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="sex">Sex:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="sex" class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 offset-md-3">
                    <h3>Contact</h3>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="email">Email:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="email" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="phone">Phone:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="phone" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="city">City:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="city" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="pin">Pincode:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="pin" class="form-control"/>
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-12">
                    <h3>Job information</h3>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label" for="mname">Manager Name:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="mname" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label" for="date">Joining Date:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="date" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>