.breadcrums {
    display: block;
    padding: 5px 10px;
    margin-top: -5px;
    
}
.breadcrums ul {
    padding: 0;
    margin: 0;
}
.breadcrums ul li {
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
}
.breadcrums ul li i {
    font-size: 16px;
}
.breadcrums ul li:not(:last-child)::after {
    content: '#';
    display: inline-block;
    padding: 0 5px;
}