@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
h1 {
    font-size: 18px;
    padding: 10px 10px 15px 30px;
}
.carousel {
    width: 100%;
    overflow-x: hidden;
    .prev, .next {
        cursor: pointer;
        display: inline-block;
        width: 25px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: $primary;
        height: 50%;
        &.disabled {
            &:hover {
                background: #eee;
            }
            cursor: default;
            background: #eee;
            i {
                color: #4a4a4a;
            }
        }
        i {     
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);       
            line-height: 50%;
            width: 100%;
            color: $white;
            text-align: center;
        }
        &:hover {
            background: #ddd;
        }
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    > ul {
        width: 100%;
        display: inline-block;
        padding: 0 25px;
        margin: 0;
        > li {
            position: relative;
            display: none;
            width: calc((100% / 6) - 10px);  
            margin: 0 5px;
            padding: 5px;
            border: 0.5px solid #ccc;
            cursor: pointer;
            height: 80px;
            vertical-align: top;
            border-radius: 5px;
            overflow: hidden;
            &.show-skill {
                display: inline-block;
            }
            &.selected {
                background: $primary;
                h4, div li {
                    color: #fff;
                }
            }
            h4 {
                text-align: left;
                font-size: 13px;
                font-weight: bold;
                color: #2C85E7;
                height: 14px;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                display: block;
                white-space: nowrap;
                margin-bottom: 10px;
            }
            div.levels {
                float: right;
                height: 40px;
                li {
                    width: 12px;
                    display: flex;
                    float: left;
                    margin-left: 2px;
                    background: #2C85E7;
                    border: 0.5px solid #fff;
                    &:first-child {
                        background: #FFA02A;
                    }
                    &:last-child {
                        background: #FF0084;
                    }
                }
            }
            div.percent {
                float: left;
                li {
                    display: block;
                }
            }
        }
    }
}
.percentage-view {
    position: absolute;
    width: 100%;
    height: 4px;
    background: orange;
    left: 0;
    bottom: 0;
    border-top: 0.5px solid #fff;
    span {
        display: block;
        background: green;
        height: 100%;
    }
}